/* MAIN */

.center-box {
    margin: 0 auto;
    margin-top: 10%;
    padding-bottom: 50px;
    background-color: white;
    width: 30%;
    min-width: 440px;
    height: 70%;
    box-shadow: 5px 5px 30px 1px black;
    text-align: center;
}

.center-box .textlink {
    color: rgb(79, 158, 184);
}

.logo {
    position: absolute;
}

.logo img {
    height: 70px;
}

.logo + p {
    padding-top: 60px;
    font-weight: bold;
}

a:link {
    color: rgb(50, 130, 156);
}

.login-input {
    width: 100%;
    padding-bottom: 15px;
}

.login-input input{
    width: 40%;
    margin: 4px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #A6A6A6;
}

.login-button {
    margin: 5px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #517ced;
}

.login-input ~ a {
    font-size: 13px;
}